.card .img-fit
{
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media (max-width: 767.98px)
{
    .card .img-fit
    {
        aspect-ratio: 1.45 / 1;
    }
}

.cart-Tab {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
 }
 .cart-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
 }
 .counter {
    display: flex;
    align-items: center;
 }
 
 .counter button {
    padding: 5px;
 }
 
 .counter span {
    margin: 0 10px;
 }
 .price-section {
    /* Styling for price section */
    font-size: 16px;
    color: #333;
    margin-top: 10px; /* Додано відступ зверху для кращого розташування */
 }
 .checkout-section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
 }
 
 .checkout-section button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Зелений колір, можна змінити */
    color: white;
    border: none;
    cursor: pointer;
 }